.container {
  max-width: 1350px;
}
ul {
  float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 0.2px;
  transition: 0.5s ease;
}
.main h2 {
  padding-left: 90px;
  font-size: x-large;
  text-align: center;
}
.main {
  background-image: linear-gradient(aqua, deepskyblue);
  min-height: 400px;
  display: flex;
  flex-flow: column nowrap;
}
.main h1 {
  padding-left: 50px;
  color: white;
  font-size: xx-large;
  text-align: center;
}
.main p {
  color: white;
  font-size: 12px;
  text-align: center;
}
.main form {
  text-align: center;
}
.main button {
  color: white;
  border-color: transparent;
}
.main h3 {
  color: white;
}
.main h6 {
  color: white;
  font-size: 12px;
}
.search h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column nowrap;
  align-items: center;
}
.jumbotron {
  display: flex;
  flex-flow: column nowrap;
}
.jumbotron h2 {
  text-align: center;
}
.cards {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
}
.jumbotron h6 {
  text-align: center;
}
.purple {
  text-align: center;
  color: white;
  background-color: #663399;
}

.purple button {
  color: white;
  border-color: transparent;
}
